// --------------------------------------------------
//  Colors.
// --------------------------------------------------

$white: #fff;
$black: #000;
$off_white: #fafafa;


// --------------------------------------------------
//  Branding colors.
// --------------------------------------------------


// --------------------------------------------------
//  Color assignment.
// --------------------------------------------------

$site_background: $white;
$page_background: $off_white;


// --------------------------------------------------
//  Type.
// --------------------------------------------------

$main_font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$root_font_size: 16px;
$line_height: 1.8em;
$root_font_weight: normal;


// --------------------------------------------------
//  Images.
// --------------------------------------------------


// --------------------------------------------------
//  Grid.
// --------------------------------------------------

$susy: (
    columns: 12,
    gutters: 0,
    math: fluid,
    output: float,
    gutter-position: inside
);


// --------------------------------------------------
//  Breakpoints
// --------------------------------------------------

$desktop: 960px;
$mobile: 750px;
