$width:100%;


body{
  background-color: #E5E5E5;
}
#navbar{
    position: absolute;
    z-index: 100;
    background: #F9F9F9;
    width: 100%;
}
.navbar-collapse{
  overflow: visible;
}
.navbar-header{
  box-shadow: 0 0 20px 0;
}
.login-form {
    margin-top: 10%;
}

#page-index {
	width: $width;
  margin: 0;
}

.input-field {
  width: $width;
  height: 30px;
  margin-bottom: 10px;
}

.button {
  width: $width;
  height: 30px;
}

.dropdown-menu{
  width:$width;
}

/*Homepage*/

.content-holder{
  position: absolute;
  left: 0;
  right: 0;
}

.homepagebanner{
 // background-image: url("homepagebanner.jpg");
  //background-color:#000000;
  width:$width;
}

.week-selector{
  margin: 0 5px 10px 5px;
}

.item-project-bar{
  width:$width;
  background-color: #f6b26b;
  box-shadow: inset 0px 0px 5px 0px #ce9457;
    a {
        color:#000000;
        margin-left: 5px;
  }
}

.item-day-bar{
  width: $width;
  box-shadow: inset 0px 0px 5px 0px #6e925e;
  background-color: #93c47d;
}

.item-user-bar{
  width: $width;
  background-color: #6fa8dc;
  box-shadow: inset 0px 0px 5px 0px #537ea5;
}

.list-of-users {
  width: $width;
  //background-color: #6fa8dc;
    box-shadow: 0px 3px 8px 0px;
  background: radial-gradient(center, ellipse cover, #95badb 48%,#6fa8dc 98%);
}
.entry--image {
  img{
    margin: 5px 0px 0px 5px;
  }
  p{
    margin-bottom: 0px;
  }
}

/*Search page*/
.item-search-project{

      &.is-inactive {
      display: none;
    }   
    &.is-active {
      display: block;
    }
}

/*Project-search result*/

.list-of-projects{
  width: 100%;
  //background-color: #f6b26b;
  background: radial-gradient(center, ellipse cover, #f6b26b 50%,#f4a250 100%);
  box-shadow: 0px 0px 1px 0px;
  a{
    color:#000000;
  }
}

/*Add project*/
.extern-location{
  display:none;
}

.end-date{
  margin-bottom: 10px;
}

/*Assign members*/
.assign-members{
  // background-color: #D8DBDE;
  box-shadow: inset 0px 0px 5px 0px #1288FF;
  border-radius: 80px;
  float:left; // Dit wordt gebruikt om de members naast elkaar te krijgen wanneer het scherm groter wordt
  width: 150px;
  margin: 10px 0  0 10px;
  background: radial-gradient(center, ellipse cover, #95badb 48%,#6fa8dc 98%);
}

.member--details{
    padding:30px;
    p{
      margin: 0px;
    }
  }
