
#header {
    border: 1px #ccc solid;
}
#header_content {
    margin: 6px 24px;
    display: block;
}
#authorization {
    float: right;
}
#authorization a {
    font-size: 13px;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}
#authorization a:hover {
    color: #777;
}
// #navbar{
// position:absolute;
// z-index: 100;
// background:#f9f9f9;
// width: 100%}

// .navbar-collapse{
// overflow:visible;
// }



#navbar{
position:absolute;
z-index: 100;
width: 100%;
border-bottom: 1px solid #DDDDDD;
}

.nav{
  a{
    color: #22333F !IMPORTANT;
  }
}

.dropdown{
  a{
    font-size: 16px;
  }
}
.navbar{
margin-bottom: 0px !IMPORTANT;
 background-color:#FBFBFB !IMPORTANT;
}

.navbar-toggle{
  border-color:#FBFBFB !IMPORTANT;
    span{
      background-color: #ED1C27 !IMPORTANT;
    }
    &:hover {
     background-color: #FBFBFB !IMPORTANT;
   }
}
.navbar-collapse{
overflow:visible;
 background-color:#FBFBFB !IMPORTANT;
}

.input-field {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
  }

.login--logo{

    margin: 20px 0px 20px 0px;
    width: 40%;
    /* height: 35%; */
    position: relative;
    /* top: 50%; */
    left: 30%;
  // width: 150px;
  // height: 150px;
  // margin-left: 75px;
  }

  .logo{
  height: 40px  !IMPORTANT;
  margin-top: -10px;
  padding: 5px;

}